* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.seek-window {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.seek-window:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px solid firebrick;
}
.seek-tracks {
  display: flex;
  flex-direction: row;
}
.seek-track {
  display: flex;
  flex-direction: row;
  position: relative;
}
.seek-samples {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sample {
  border-radius: 5px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid black;
  white-space: nowrap;
  transition: 100ms all linear;
  background-color: aliceblue;
}
.sample > .description {
  margin: 0.5rem;
}
.sample.active {
  background-color: chartreuse;
}

.sample.track {
  background-color: cornsilk;
}
.sample.track.active {
  background-color: burlywood;
}
